* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
.container{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
	color: rgb(0, 0, 0);
	font-weight: 900;
	/* background-image: url("../images/Messi&ney.jpg");
	background-repeat: repeat;
    background-size: cover;
    background-position: center center; */
	
}
h1{
	font-size: 45px;
}
h2{
	font-size: 30px;
}

/* how to center a div?*/	
